<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="singupFormMainDiv">
        <div>
            <h1>Signup</h1>

            <form action="/auth/signup" method="post">
                <input type="text" placeholder="Enter your name" minLength={3} required name="name"/>
                <input type="email" placeholder="Enter email address" required name="username"/>
                <input type="password" placeholder="Enter password" required name="password"/>

                <button>Signup</button>
            </form>

            <p>Already have an account? <a href="/auth/login">Login</a></p>
            
        </div>
    </div>
    
</body>
</html>